<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xml:lang="en"
      lang="@System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName">
<head>
    @*Html.ActionLink("Attendance Manager", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/site")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Bol.Identity</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#layoutNavbarSupportedContent"
                aria-controls="layoutNavbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="layoutNavbarSupportedContent">
            <ul class="navbar-nav">
                @if (Request.Cookies["token"] == null)
                {
                    <li class="nav-item">@Html.ActionLink("Sign up", "SignUp", "Teachers", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Log in", "Login", "Teachers", new { area = "" }, new { @class = "nav-link" })</li>
                }
                @if (Request.Cookies["token"] != null)
                {
                    <li class="nav-item">@Html.ActionLink("Create Session", "Create", "Sessions", new { area = "" }, new { @class = "nav-link" })</li>
                }

                <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
            </ul>

        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

@RenderSection("scripts", required: false)
</body>
</html>
